<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign up for Bootsnipp <small>It's free!</small></h3>
                    {{model}}
                </div>
                <div class="panel-body">
                    <form role="form" {{action "signup" model on="submit"}}>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                  {{input type="text" value=model.firstname class="form-control input-sm"  placeholder="First Name"}}

                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                  {{input type="text" value=model.lastname class="form-control input-sm"  placeholder="Last Name"}}

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                          {{input type="text" value=model.email class="form-control input-sm"  placeholder="Email"}}
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                  {{input type="password" value=password class="form-control input-sm"  placeholder="password"}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                  {{input type="password" value=password_re class="form-control input-sm"  placeholder="password re"}}
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Register" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>